/* Ini File CSS */

.main-header {
    display: flex;
        justify-content: space-between;
        align-items: center;
}

.logo-icon {
    border: 1px solid black;
    height: 50px;
    width: 50px;
}